# SD202 TP2 - Normalization and SQL

The objectives of this TP are the following:

1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this lab, we are going to use a database containing wine information related to 'production' and 'sales'. 

Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

We need to prepare the SQL environment:

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)

We recommend inline __%sql__ as an alternative to sqlite3 package

In [4]:
%load_ext sql
%sql sqlite:///wine.db

Now, we can see the content of the tables using SQL queries:

In [5]:
%sql SELECT DISTINCT NV, CRU, MILL, DEGRE FROM MASTER1;

 * sqlite:///wine.db
Done.

[(None, None, None, None),
 (1, 'Mercurey', 1980, 11.5),
 (2, 'Julienas', 1974, 11.3),
 (3, 'Savigny les Beaunes', 1978, 12.1),
 (4, 'Mercurey', 1980, 10.9),
 (5, 'Pommard', 1976, 11.7),
 (6, 'Mercurey', 1981, 11.2),
 (7, 'Grands Echezeaux', 1968, 11.7),
 (8, 'Cotes de Beaune Villages', 1975, 12.3),
 (9, 'Chapelle Chambertin', 1973, 11.9),
 (10, 'Beaujolais Villages', 1979, 11.8),
 (11, 'Sylvaner', 1982, 11.2),
 (12, 'Gentil', 1975, 10.7),
 (13, 'Cotes du Rhone', 1968, 12.3),
 (14, 'Chateau Chalon', 1978, 10.9),
 (15, 'Cote de Brouilly', 1973, 11.9),
 (16, 'Meursault', 1980, 12.1),
 (17, 'Meursault', 1975, 11.4),
 (18, 'Chambolle Musigny', 1968, 12.3),
 (19, 'Clos du roi', 1972, 11.2),
 (20, 'Cote de Brouilly', 1980, 12.1),
 (21, 'Cotes de Nuits', 1978, None),
 (22, 'Savigny les Beaunes', 1974, None),
 (23, 'Pommard', 1972, None),
 (24, 'Cotes de Beaune Villages', 1971, 12.1),
 (25, 'Chapelle Chambertin', 1968, 10.5),
 (26, 'Chateau Corton Grancey', 1980, None),
 (27, 'Puligny Montrachet', 1974, 11),
 (28, 'Volnay', 1980, 11),
 (29, 'Corton', 1972, 11.6),
 (30, 'Bourgogne Passe Tout Grains', 1979, 12),
 (31, 'Monthelie', 1968, 11.4),
 (32, 'Pouilly Vinzelles', 1968, 12.3),
 (33, 'Santenay', 1972, 12),
 (34, 'Montagny', 1978, 11.2),
 (35, 'Auxey Duresses', 1914, 11.3),
 (36, 'Chorey les Beaunes', 1955, 11),
 (37, 'Savigny les Beaunes', 1978, 10),
 (38, 'Savigny les Beaunes', 1977, 11),
 (39, 'Savigny les Beaunes', 1973, None),
 (40, 'Richebourg', 1943, 12),
 (41, 'Clairette de Die', 1976, 12),
 (42, 'Beaujolais Primeur', 1983, 12),
 (43, 'Fleurie', 1980, 11.4),
 (44, 'Moulin a vent', 1983, None),
 (45, 'Chiroubles', 1983, None),
 (46, 'Chiroubles', 1983, 11),
 (47, 'Chiroubles', 1978, 11),
 (48, 'Cote de Brouilly', 1899, 12),
 (49, 'Morgon', 1984, 12),
 (50, 'Chenas', 1984, 11.5),
 (51, 'Chenas', 1975, 10),
 (52, 'Brouilly', 1975, None),
 (53, 'Beaujolais Villages', 1975, None),
 (54, 'Beaujolais Villages', 1976, 10.5),
 (55, 'Beaujolais Villages', 1978, 12.1),
 (56, 'Saint Amour', 1974, None),
 (57, 'Crozes Hermitage', 1974, 12.1),
 (58, 'Crozes Hermitage', 1975, 12.5),
 (59, 'Crozes - Hermitage', 1972, 12.3),
 (60, 'Crozes-Hermitage', 1983, 11),
 (61, 'Hermitage', 1979, 12),
 (62, 'Gigondas', 1978, 11),
 (63, 'Coteaux du Tricastin', 1978, 10),
 (64, 'Coteaux du Tricastin', 1974, 11),
 (65, 'Rochgrande', 1968, 10.8),
 (66, 'Tavel', 1968, 11),
 (67, 'Gewurztraminer', 1968, 12.5),
 (68, 'Riesling', 1962, 14),
 (69, "Tokay d'Alsace", 1982, 11),
 (70, 'Sylvaner', 1982, 11),
 (71, 'Palette', 1981, 11),
 (72, 'Cassis', 1978, 10),
 (73, 'Bellet', 1976, 11),
 (74, 'Arbois', 1980, 12),
 (75, 'Arbois', 1976, 11),
 (76, 'Chateau Chalon', 1976, 12),
 (77, 'Etoile', 1979, 11),
 (78, 'Etoile', 1980, 12),
 (79, 'Seyssel', 1980, 11),
 (80, 'Seyssel', 1980, 11),
 (81, 'Cornas', 1980, 11.1),
 (82, 'Cornas', 1980, 11),
 (83, 'Saint Amour', 1980, 10),
 (84, 'Rasteau', 1980, 10),
 (85, 'Tavel', 1980, 11),
 (86, 'Tavel', 1980, 11),
 (87, 'Cotes de Provence', 1980, None),
 (88, 'Cotes de Provence', 1976, 10),
 (89, 'Cotes de Provence', 1969, 11),
 (90, 'Palette', 1969, 11),
 (91, 'Cassis', 1979, 11),
 (92, 'Coteaux de Pierevert', 1967, None),
 (93, 'Blanquette de Limoux', 1978, None),
 (94, 'Cotes du Rousillon', 1978, None),
 (95, 'Cotes du Rousillon', 1978, 12),
 (96, 'Saint Chinian', 1976, 11),
 (97, 'Saint Chinian', 1976, 11),
 (98, 'Corbieres', 1978, 10),
 (99, 'Cote Rotie', 1994, 13),
 (100, 'Seyssel', 1974, 11),
 (101, 'Saint Veran', 1973, 12.5),
 (107, 'Sancerre', 1998, 14)]

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables Master1 and Master2 are in the First Normal Form (1NF) and suffer from data redundancy.

__1.1__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NP -> NOM, PRENOM, REGION

NV, NP -> QTE

Convert table Master1 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.

* Explain your answer
* Describe the schema of new tables and how they relate

To convert the "Master1" table to the Second Normal Form (2NF) or Third Normal Form (3NF) based on the given set of functional dependencies (FDs), we need to analyze the dependencies and split the table accordingly. Let's examine the FDs and proceed with the normalization process:

Based on the given FDs, it appears that the primary key for the "Master1" table is a composite key consisting of NV and NP since they appear on the right side of the FDs.

Based on the FDs, we can identify the following tables:

Table 1: Wine
Attributes: NV (Primary Key), CRU, DEGRE, MILL

Table 2: Producer
Attributes: NP (Primary Key), NOM, PRENOM, REGION

Table 3: Quantity
Attributes: NV (Foreign Key), NP (Foreign Key), QTE

In Table 3 (Quantity), both NV and NP are foreign keys referencing the primary keys of Table 1 (Wine) and Table 2 (Producer), respectively. This establishes the relationships between the tables.

Table Schema Summary:

Table: Wine
| Attribute | Description     |
| --------- | --------------- |
| NV        | Wine number (PK) |
| CRU       | Vineyard        |
| DEGRE     | Alcohol content |
| MILL      | Vintage year    |

Table: Producer
| Attribute | Description           |
| --------- | --------------------- |
| NP        | Producer number (PK)  |
| NOM       | Producer's last name  |
| PRENOM    | Producer's first name |
| REGION    | Production region     |

Table: Quantity
| Attribute | Description         |
| --------- | ------------------- |
| NV        | Wine number (FK)    |
| NP        | Producer number (FK)|
| QTE       | Number of bottles   |

In the normalized schema, each table represents a separate entity, and the relationships between the tables are maintained through the use of foreign keys. This ensures data integrity and eliminates redundant information.

The given FDs do not indicate any dependencies, so 2NF is not required, and the tables are already in 3NF.

__1.2__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NB -> NOM, PRENOM, TYPE

NV, NB -> DATES, LIEU, QTE

LIEU -> REGION 

Convert table Master2 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable. 
* Explain your answer
* Describe the schema of new tables and how they relate

To convert the "Master2" table to the Second Normal Form (2NF) or Third Normal Form (3NF) based on the given set of functional dependencies (FDs), let's analyze the dependencies and proceed with the normalization process.

Based on the given FDs, it appears that the primary key for the "Master2" table is a composite key consisting of NV and NB since they appear on the right side of the FDs.

Based on the FDs, we can identify the following tables:

Table 1: Wine
Attributes: NV (Primary Key), CRU, DEGRE, MILL

Table 2: Client
Attributes: NB (Primary Key), NOM, PRENOM, TYPE

Table 3: Purchase
Attributes: NV (Foreign Key), NB (Foreign Key), DATES, LIEU, QTE

Table 4: Region
Attributes: LIEU (Primary Key), REGION

In Table 3 (Purchase), both NV and NB are foreign keys referencing the primary keys of Table 1 (Wine) and Table 2 (Client), respectively. This establishes the relationships between the tables.

In Table 4 (Region), LIEU is the primary key, and it serves as a foreign key referencing the LIEU attribute in Table 3 (Purchase).

Table Schema Summary:

Table: Wine
| Attribute | Description     |
| --------- | --------------- |
| NV        | Wine number (PK) |
| CRU       | Vineyard        |
| DEGRE     | Alcohol content |
| MILL      | Vintage year    |

Table: Client
| Attribute | Description           |
| --------- | --------------------- |
| NB        | Client number (PK)    |
| NOM       | Client's last name    |
| PRENOM    | Client's first name   |
| TYPE      | Type of client        |

Table: Purchase
| Attribute | Description            |
| --------- | ---------------------- |
| NV        | Wine number (FK)       |
| NB        | Client number (FK)     |
| DATES     | Buying date            |
| LIEU      | Place where wine sold  |
| QTE       | Number of bottles      |

Table: Region
| Attribute | Description                      |
| --------- | -------------------------------- |
| LIEU      | Place where wine was sold (PK)   |
| REGION    | Administrative Region description|

In the normalized schema, each table represents a separate entity, and the relationships between the tables are maintained through the use of foreign keys. This ensures data integrity and eliminates redundant information.

The given FDs do not indicate any dependencies, so 2NF is not required, and the tables are already in 3NF.

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables. A table can be created from the result of a query. In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [6]:
%sql DROP TABLE IF EXISTS dummy;

# Create dummy table
%sql CREATE TABLE dummy AS \
SELECT DISTINCT DEGRE \
FROM MASTER1;

print("\nContent of the database")
printSchema(conn)

print("\nContent of dummy")
%sql SELECT * FROM dummy

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
dummy:
  0: DEGRE(NUM)

Content of dummy
 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

In [7]:
# Remove dummy table
%sql DROP TABLE IF EXISTS dummy;

 * sqlite:///wine.db
Done.

[]

__1.3__ Create the new tables from Master1:

In [13]:
# Wine
%sql DROP TABLE IF EXISTS Wine1;

%sql CREATE TABLE Wine1 AS \
SELECT NV, CRU, DEGRE, MILL \
FROM Master1;

# Producer
%sql DROP TABLE IF EXISTS Producer;

%sql CREATE TABLE Producer AS \
SELECT NP, NOM, PRENOM, REGION \
FROM Master1;

# Quantity
%sql DROP TABLE IF EXISTS Quantity;

%sql CREATE TABLE Quantity AS \
SELECT NV, NP, QTE \
FROM Master1;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

[]

__1.4__ Create the new tables from Master2:

In [14]:
# Wine
%sql DROP TABLE IF EXISTS Wine2;

%sql CREATE TABLE Wine2 AS \
SELECT NV, CRU, DEGRE, MILL \
FROM Master2;

# Client
%sql DROP TABLE IF EXISTS Client;

%sql CREATE TABLE Client AS \
SELECT NB, NOM, PRENOM, TYPE \
FROM Master2;

# Purchase
%sql DROP TABLE IF EXISTS Purchase;

%sql CREATE TABLE Purchase AS \
SELECT NV, NB, DATES, LIEU, QTE \
FROM Master2;

# Region
%sql DROP TABLE IF EXISTS Region;

%sql CREATE TABLE Region AS \
SELECT LIEU, REGION \
FROM Master2;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

[]

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

__2.1__ What are the different types of clients (buveurs) by volume of purchases?

In [10]:
%sql SELECT TYPE, COUNT(*) AS TotalClients FROM Client GROUP BY TYPE;

 * sqlite:///wine.db
Done.

[(None, 55), ('gros', 37), ('moyen', 26), ('petit', 67)]

__2.2__ What regions produce Pommard or Brouilly?

In [16]:
%sql SELECT DISTINCT REGION FROM Region WHERE LIEU IN (SELECT DISTINCT LIEU FROM Wine2 WHERE CRU IN ('Pommard', 'Brouilly'));

 * sqlite:///wine.db
Done.

[(' NOUVELLE-AQUITAINE',),
 (' ÎLE-DE-FRANCE',),
 (' BRETAGNE',),
 ('  AUVERGNE-RHÔNE-ALPES',),
 (" PROVENCE-ALPES-CÔTE D'AZUR",),
 (' BOURGOGNE-FRANCHE-COMTÉ',),
 (' OCCITANIE',),
 (' HAUTS-DE-FRANCE',),
 (' GRAND EST',),
 (' NORMANDIE',)]

__2.3__ What regions produce Pommard and Brouilly?

In [18]:
%sql SELECT DISTINCT Region.REGION \
FROM Wine2 \
JOIN Purchase ON Wine2.NV = Purchase.NV \
JOIN Region ON Purchase.LIEU = Region.LIEU \
WHERE Wine2.CRU IN ('Pommard', 'Brouilly');

 * sqlite:///wine.db
Done.

[(' HAUTS-DE-FRANCE',), (' BOURGOGNE-FRANCHE-COMTÉ',)]

__2.4__ Get the number of wines bought by CRU and Millésime

In [19]:
%sql SELECT Wine2.CRU, Wine2.MILL, SUM(Purchase.QTE) AS TotalQuantity \
FROM Wine2 \
JOIN Purchase ON Wine2.NV = Purchase.NV \
GROUP BY Wine2.CRU, Wine2.MILL;

 * sqlite:///wine.db
Done.

[('Arbois', 1976, None),
 ('Arbois', 1980, 8),
 ('Auxey Duresses', 1914, 80),
 ('Beaujolais Primeur', 1983, 14),
 ('Beaujolais Villages', 1975, 10),
 ('Beaujolais Villages', 1976, 120),
 ('Beaujolais Villages', 1978, 130),
 ('Beaujolais Villages', 1979, 1560),
 ('Bellet', 1976, None),
 ('Blanquette de Limoux', 1978, None),
 ('Bourgogne Passe Tout Grains', 1979, None),
 ('Brouilly', 1975, None),
 ('Cassis', 1978, None),
 ('Cassis', 1979, None),
 ('Chambolle Musigny', 1968, None),
 ('Chapelle Chambertin', 1968, None),
 ('Chapelle Chambertin', 1973, 90),
 ('Chateau Chalon', 1976, None),
 ('Chateau Chalon', 1978, None),
 ('Chateau Corton Grancey', 1980, 4),
 ('Chenas', 1975, None),
 ('Chenas', 1984, 1),
 ('Chiroubles', 1978, None),
 ('Chiroubles', 1983, None),
 ('Chorey les Beaunes', 1955, None),
 ('Clairette de Die', 1976, 10),
 ('Clos du roi', 1972, None),
 ('Corbieres', 1978, None),
 ('Cornas', 1980, 25),
 ('Corton', 1972, None),
 ('Cote Rotie', 1994, None),
 ('Cote de Brouilly', 1899, None),
 ('Cote de Brouilly', 1973, None),
 ('Cote de Brouilly', 1980, 46),
 ('Coteaux de Pierevert', 1967, None),
 ('Coteaux du Tricastin', 1974, 1),
 ('Coteaux du Tricastin', 1978, 12),
 ('Cotes de Beaune Villages', 1971, 14),
 ('Cotes de Beaune Villages', 1975, 288),
 ('Cotes de Nuits', 1978, 21),
 ('Cotes de Provence', 1969, None),
 ('Cotes de Provence', 1976, None),
 ('Cotes de Provence', 1980, 18),
 ('Cotes du Rhone', 1968, None),
 ('Cotes du Rousillon', 1978, None),
 ('Crozes - Hermitage', 1972, None),
 ('Crozes Hermitage', 1974, None),
 ('Crozes Hermitage', 1975, None),
 ('Crozes-Hermitage', 1983, None),
 ('Etoile', 1979, None),
 ('Etoile', 1980, 9),
 ('Fleurie', 1980, 7),
 ('Gentil', 1975, 36),
 ('Gewurztraminer', 1968, None),
 ('Gigondas', 1978, 5),
 ('Grands Echezeaux', 1968, 62),
 ('Hermitage', 1979, None),
 ('Julienas', 1974, 2),
 ('Mercurey', 1980, 171),
 ('Mercurey', 1981, 36),
 ('Meursault', 1975, None),
 ('Meursault', 1980, 2),
 ('Montagny', 1978, None),
 ('Monthelie', 1968, 212),
 ('Morgon', 1984, None),
 ('Moulin a vent', 1983, None),
 ('Palette', 1969, None),
 ('Palette', 1981, None),
 ('Pommard', 1972, 23),
 ('Pommard', 1976, 110),
 ('Pouilly Vinzelles', 1968, 20),
 ('Puligny Montrachet', 1974, None),
 ('Rasteau', 1980, 15),
 ('Richebourg', 1943, 360),
 ('Riesling', 1962, None),
 ('Rochgrande', 1968, None),
 ('Saint Amour', 1974, 80),
 ('Saint Amour', 1980, 14),
 ('Saint Chinian', 1976, None),
 ('Saint Veran', 1973, None),
 ('Sancerre', 1998, None),
 ('Santenay', 1972, None),
 ('Savigny les Beaunes', 1973, None),
 ('Savigny les Beaunes', 1974, 88),
 ('Savigny les Beaunes', 1977, 14),
 ('Savigny les Beaunes', 1978, 22),
 ('Seyssel', 1974, 72),
 ('Seyssel', 1980, 21),
 ('Sylvaner', 1982, None),
 ('Tavel', 1968, None),
 ('Tavel', 1980, 33),
 ("Tokay d'Alsace", 1982, None),
 ('Volnay', 1980, 5)]

__2.5__ Retrieve the wine number (NV) of wines produced by more than three producers

In [22]:
%sql SELECT NV \
FROM Quantity \
GROUP BY NV \
HAVING COUNT(DISTINCT NP) > 3;

 * sqlite:///wine.db
Done.

[(None,), (45,), (78,), (89,), (98,)]

__2.6__ Which producers have not produced any wine?

Done.

[(3, u'Six', u'Paul'),
 (6, u'Marmagne', u'Bernard'),
 (8, u"Lioger d'Harduy", u'Gabriel'),
 (16, u'Barbin', u'Bernard'),
 (17, u'Faiveley', u'Guy'),
 (18, u'Tramier', u'Jean'),
 (19, u'Dupaquier', u'Roger'),
 (20, u'Lamy', u'Jean'),
 (21, u'Cornu', u'Edmond'),
 (26, u'Violot', u'Gilbert'),
 (28, u'Monnier', u'Rene'),
 (29, u'de Suremain', u'Robert'),
 (31, u'Prudhon', u'Henri'),
 (32, u'Mestre', u'Philippe'),
 (33, u'Prieur', u'Guy'),
 (34, u'Monnier', u'Rene'),
 (37, u'Delagrange Bachelet', None),
 (39, u'de Suremin', u'Hugues'),
 (41, u'Juillot', u'Michel'),
 (44, u'Feyveley', None),
 (47, u'Thenard', None),
 (48, u'Flamand', None),
 (49, u'Guillot', u'Pierre'),
 (51, u'Simonet', u'Leon'),
 (53, u'Cooperative', None),
 (57, u'Desmules', u'Pierre'),
 (58, u'Joubert', u'Claude'),
 (61, u'Champier', u'Charles'),
 (62, u'Champagnon', u'Louis'),
 (66, u'Cooperative', None),
 (77, u'Tissot', u'Andre'),
 (83, u'Goy', None),
 (91, u'Chave', u'Gerard'),
 (92, u'De Boissieu', None),
 (94, u'Grippat', u'Jean Louis'),
 (96, u'Boisson', u'Jean Pierre'),
 (97, u'Quiot', u'Pierre'),
 (100, u'Bernard', u'Georges'),
 (101, u'Verdan', u'Antoine'),
 (102, u'Cooperative', None),
 (103, u'Coulouvrat', u'Michel'),
 (104, u'Rabasse Chavarin', u'Abel'),
 (105, u'Roux', u'Charles'),
 (106, u'Alary', None),
 (108, u'Archimbaud', u'Jean'),
 (109, u'Rey', u'Marcel'),
 (110, u'Cooperative', None),
 (111, u'Zafiropulo', u'Costa'),
 (112, u'Prebost', u'Gaston'),
 (113, u'Gomez', u'Rene'),
 (114, u'Brunet', u'Georges'),
 (115, u'Bordonado', u'Raymond'),
 (116, u'Imbert', u'Christian'),
 (117, u'Cooperative', None),
 (118, u'Cooperative', None),
 (119, u'Cooperative', None),
 (121, u'Cooperative', None),
 (122, u'Dupuy', u'Charles'),
 (123, u'Laurent', u'Pierre'),
 (124, u'Daurat Fort', u'Robert'),
 (125, u'Baldes', u'Jean'),
 (126, u'Jouffreau', u'Jean'),
 (127, u'Brumont', u'Alban'),
 (129, u'Barrere', u'Alfred')]

__2.7__ What clients (buveurs) have bought at least one wine from 1980?

Done.

[(2, u'Artaud', u'Antonin'),
 (8, u'Aragon', u'Louis'),
 (44, u'Gide', u'Andre'),
 (45, u'Giono', u'Jean'),
 (50, u'Lautreamont', None),
 (61, u'Mallarme', u'Stephane')]

__2.8__ What clients (buveurs) have NOT bought any wine from 1980?

Done.

[(1, u'Aristote', None),
 (3, u'Aron', u'Raymond'),
 (4, u'Apollinaire', u'Guillaume'),
 (5, u'Audiberti', u'Jacques'),
 (6, u'Arrabal', u'Fernando'),
 (7, u'Anouilh', u'Jean'),
 (9, u'Ajar', u'Emile'),
 (10, u'Andersen', u'Yann'),
 (11, u'Breton', u'Andre'),
 (12, u'Bataille', u'Georges'),
 (13, u'Barthes', u'Roland'),
 (14, u'Bory', u'Jean Louis'),
 (15, u'Baudelaire', u'Charles'),
 (16, u'Balzac', u'Honore de'),
 (17, u'Camus', u'Albert'),
 (18, u'Celine', u'Louis Ferdinand'),
 (19, u'Ciceron', None),
 (20, u'Chateaubriand', u'Francois-Rene de'),
 (21, u'Corbiere', u'Tristan'),
 (22, u'Cocteau', u'Jean'),
 (23, u'Corneille', u'Pierre'),
 (24, u'Courrier', u'Paul Louis'),
 (25, u'Char', u'Rene'),
 (26, u'Diderot', u'Denis'),
 (27, u'Dumas', u'Alexandre'),
 (28, u'Dostoievsky', u'Fiodor'),
 (29, u'Fournier', u'Alain'),
 (30, u'La Fontaine', u'Jean de'),
 (31, u'Dante', None),
 (32, u'Eluard', u'Paul'),
 (33, u'Flaubert', u'Gustave'),
 (34, u'Mauriac', u'Francois'),
 (35, u'Fromentin', u'Eugene'),
 (36, u'Maurois', u'Andre'),
 (37, u'Freud', u'Sigmund'),
 (38, u'Montaigne', u'Michel de'),
 (39, u'Montesquieu', None),
 (40, u'Moliere', None),
 (41, u'Gauthier', u'Theophile'),
 (42, u'Goethe', u'Johann Wolfgang von'),
 (43, u'Musset', u'Alfred de'),
 (46, u'Hugo', u'Victor'),
 (47, u'Gary', u'Romain'),
 (48, u'Hardy', u'Thomas'),
 (49, u'Kafka', u'Franz'),
 (51, u'Lafargue', u'Paul'),
 (52, u'Carroll', u'Lewis'),
 (53, u'Lamartine', u'Alphonse de'),
 (54, u'Aurele', u'Marc'),
 (55, u'Michelet', u'Jules'),
 (56, u'Nerval', u'Gerard de'),
 (57, u'Marx', u'Karl'),
 (58, u'Marivaux', u'Pierre Carlet de Chamblain de'),
 (59, u'Nietzsche', u'Friedrich'),
 (60, u'Ovide', None),
 (62, u'Proust', u'Marcel'),
 (63, u'Maupassant', u'Guy de'),
 (64, u'Platon', None),
 (65, u'Pascal', u'Blaise'),
 (66, u'Perec', u'Georges'),
 (67, u'Nin', u'Anais'),
 (68, u'Prevert', u'Jacques'),
 (69, u'Queneau', u'Raymond'),
 (70, u'Paulhan', u'Jean'),
 (71, u'Radiguet', u'Raymond'),
 (72, u'Rabelais', u'Francois'),
 (73, u'Poe', u'Allan Edgard'),
 (74, u'Rimbaud', u'Arthur'),
 (75, u'Ronsard', u'Pierre'),
 (76, u'Racine', u'Jean'),
 (77, u'Rousseau', u'Jean-Jacques'),
 (78, u'Sandier', u'Jules'),
 (79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de'),
 (80, u'Sand', u'Georges'),
 (81, u'Sartre', u'Jean-Paul'),
 (82, u'Roussel', u'Rene'),
 (83, u'Sophocle', None),
 (84, u'Sue', u'Eugene'),
 (85, u'Segalen', u'Victor'),
 (86, u'Saint Exupery', u'Antoine de'),
 (87, u'Segur', u'Comtesse de'),
 (88, u'Shakespeare', u'William'),
 (89, u'Stendhal', None),
 (90, u'Vian', u'Boris'),
 (91, u'Verlaine', u'Paul'),
 (92, u'Verne', u'Jules'),
 (93, u'Virgile', None),
 (94, u'Zola', u'Emile'),
 (95, u'Zorn', u'Fritz'),
 (96, u'Wilde', u'Oscar'),
 (97, u'Vigny', u'Alfred de'),
 (98, u'Maturin', u'Robert'),
 (99, u'Cesar', u'Jules'),
 (100, u'Woolf', u'Virginia')]

__2.9__ What clients (buveurs) have bought ONLY wines from 1980?

Done.

[(44, u'Gide', u'Andre'), (45, u'Giono', u'Jean'), (50, u'Lautreamont', None)]

__2.10__ List all wines from 1980

Done.

[(1, u'Mercurey', 1980, 11.5),
 (4, u'Mercurey', 1980, 10.9),
 (16, u'Meursault', 1980, 12.1),
 (20, u'Cote de Brouilly', 1980, 12.1),
 (26, u'Chateau Corton Grancey', 1980, None),
 (28, u'Volnay', 1980, 11),
 (43, u'Fleurie', 1980, 11.4),
 (74, u'Arbois', 1980, 12),
 (78, u'Etoile', 1980, 12),
 (79, u'Seyssel', 1980, 11),
 (80, u'Seyssel', 1980, 11),
 (81, u'Cornas', 1980, 11.1),
 (82, u'Cornas', 1980, 11),
 (83, u'Saint Amour', 1980, 10),
 (84, u'Rasteau', 1980, 10),
 (85, u'Tavel', 1980, 11),
 (86, u'Tavel', 1980, 11),
 (87, u'Cotes de Provence', 1980, None)]

__2.11__ What are the wines from 1980 bought by NB=2?

Done.

[(1, 2, u'1977-11-02', u'BORDEAUX', 33, u'Mercurey', 1980, 11.5)]

__2.12__ What clients (buveurs) have bought ALL the wines from 1980?

Done.

[(44, u'Gide', u'Andre')]